/* https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
  margin: 0;
  background-color: black;
  overflow: hidden;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  width: 100vw;
  height: 100vh;
}

.pip-boy-image {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 1600px;
}

.pip-boy-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 530px;
  margin-right: 120px;
  height: 650px;
  transform: rotate(-0.5deg);
}

.intro-video {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
}

.timeout-video {
  z-index: -2;
  position: absolute;
  width: 1600px;
  filter: blur(8px);
}

.music-name {
  color: #53EC88;
  font-family: monospace, 'Courier New';
  font-size: 25px;
  margin-top: 40px;
}

input {
  color: #53EC88;  /* change [input cursor color] by this*/
  text-shadow: 0px 0px 0px #53EC88; /* change [input font] by this*/
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  border: 3px solid #53EC88;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 600;
  margin: 0 20px;
  margin-bottom: 30px;
  padding: 10px 5px;
  text-align: center;
  width: 60px;
}

input:focus {
  outline: none;
}

.timer {
  color: #53EC88;
  margin-top: 50px;
  margin-bottom: 50px;
}

.timer-input {
  color: #53EC88;
  margin-top: 40px;
}

.hidden {
  visibility: hidden;
}

span {
  background-color: black;
  border: 3px solid #53EC88;
  border-radius: 10px;
  color: #53EC88;
  font-size: 25px;
  margin: 20px;
  padding: 11px 22px;
  text-align: center;
}

button {
  background-color: black;
  border: 0;
  border-bottom: 2px solid #53EC88;
  border-style: outset;
  color: #53EC88;
  cursor: pointer;
  font-size: 40px;
  margin: 0 20px;
}

.mute-sound-icon {
  color: #53EC88;
  font-size: 30px;
  align-self: flex-end;
  margin-right: 50px;
}